{% extends 'base.html' %}
{% block head %}
<title>VocabRandomizer2</title>
{% endblock %}

{% block body %}
<div class="answer">
    <h1 style="font-family:verdana; font-size: 70px;">vocab randomizer 2.0</h1>
    <h2 style="color: rgb(14, 68, 133); font-size: 100px;">{{term.English}}</h2>
    <h2 id="answer" style="color: rgba(41, 110, 4, 0.748); font-size: 100px;"></h2>
    <button style="font-size: 50px;" id="button" onclick="showAnswer()">Show</button>
    <script>
        // Function to handle button click and display the value
        function showAnswer() {
            const value = "{{term.Thai}}";
            const button = document.getElementById('button')
            if (button.innerText === "Show"){
                // The specific value you want to output
                const value = "{{term.Thai}}";
                
                // Output the value inside the div with id 'output'
                document.getElementById('answer').innerText = value;
                button.innerText = "Hide";
            }
            else{
                document.getElementById('answer').innerText = "";
                button.innerText = "Show";
            }

        }
    </script>
    <form action="/" method="POST">
        <input type="submit" value="New word" style="font-size: 50px;">
    </form>
    
</div>
<div class="list" style="position: absolute; left: 0px; top: 0px;">
    <form action="/list/" method="GET">
        <input type="submit" value="Vocab list" style="font-size: 50px;">
    </form>
</div>

{% endblock %}